* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GenEiLateMin';
    src: url('../fonts/GenEiLateMinN_v2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #fff5e7;
    --text-color: #2b2b2b;
    --title-color: #ff9500;
    --submit-color: #06c5ff;
    --reset-color: #ff7070;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#containers {
    display: grid;
    gap: 2rem;
}

#title_setumei {
    font-family: 'GenEiLateMin', sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 1.25rem;
}

#title_hukunavi {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    font-family: 'GenEiLateMin', sans-serif;
    color: var(--title-color);
    letter-spacing: -5px;
}

.button-class {
    text-align: center;
    margin-bottom: 14rem;
}

#major-class, #middle-class, #minor-class {
    display: block;
    width: 300px;
    text-align: center;
    margin: 0 auto 70px;
    height: 2.5rem;
    font-size: 1rem;
    padding: 5px;
    border-radius: 4px;
}

.moji {
    display: block;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff,
       0px 0px 10px #ffffff;        /* 文字の影 */
}

select {
    border: 3px solid #2fc0c0;
}

select:invalid { color: #aa7474; }
select option { color: black; }
select option:first-child { color: #bbb; }

#forms {
    display: grid;
    position: relative;
    gap: 5rem;
    background-color: #aae4fb;
}

#class-form::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(../picture/hukuiken.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#class-form {
    position: relative;
    z-index: 1;
    max-height: 550px;
    margin: 40px;
    padding: 70px 30px 30px 30px;
    border-radius: 20px;
}

.button-class {
  text-align: center;
  margin: 85px auto;
}

#submit, #reset {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0 3px; 
  border: 3px solid var(--text-color);
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

#submit {
    background-color: var(--submit-color);
    color: #ffffff;
    width: 210px;
}

#submit:hover {
    background-color: #ffffff;
    color: var(--submit-color);
}

#reset {
    color: #ffffff;
    background-color: var(--reset-color);
    width: 108px; 
}

#reset:hover {
    color: var(--reset-color);
    background-color: #ffffff;
}