* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'GenEiLateMin';
  src: url('../fonts/GenEiLateMinN_v2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #fff5e7;
  --text-color: #2b2b2b;
  --title-color: #ff9500;
  --submit-color: #06c5ff;
  --subtext-color: #113A58;
}

body {
  background-color: var(--bg-color);
}

#containers {
  display: grid;
  gap: 2rem;
  justify-items: center;
}

#kensaku_kekka {
  text-align: center;
  margin-top: 1.25rem;
  letter-spacing: 2px;
  font-size: 2rem;
  color: var(--text-color);
  font-family: 'GenEiLateMin', sans-serif;
  margin-bottom: 0;
}

#subtitle {
  margin-top: .5rem;
}

#result-container > div {
  margin: 0px 20px 25px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #3d3d3d;
  border-radius: 8px;
  color: var(--text-color);
}

#btn-toppage {
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 300px;
  text-decoration: none;
  border: 2px solid #3d3d3d;
  background-color: var(--submit-color);
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

#btn-toppage:hover {
  background-color: #ffffff; /* マウスオーバー時の背景色 */
  color: var(--submit-color);
  cursor: pointer;
}

#map {
  height: 500px;
  width: 1000px;
  border: 2px solid #3d3d3d;
  border-radius: 8px;
}

.card-image {
  width: 24%;
  height: auto;
  border-radius: 4px;
}

.card-image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-text-container {
  text-align: left;
}

#map-name {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  color: var(--subtext-color);
  margin-bottom: 1rem;
}

#result-spot {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  color: var(--subtext-color);
  margin-bottom: 1rem;
}

#footer-small {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  #map {
    height: 250px;
    width: 300px;
  }
}