#title_hukunavi {
    text-align: center;
    margin-bottom: 0;
}

div {
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}

div img {
    height: 120px;
    width: 400px;
}

#major-class, #middle-class, #minor-class {
    display: block;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    margin: 0 auto 100px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
}

#submit {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0 auto 100px;
    width: 300px;
    background-color: #06c5ff;
    color: #ffffff;
    border: 3px solid #3d3d3d;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

#submit:hover {
    background-color: #ffffff; /* マウスオーバー時の背景色 */
    color: #06c5ff;
    cursor: pointer;
}

.moji {
    display: block;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow    : 
       2px  2px 10px #ffffff,
      -2px  2px 10px #ffffff,
       2px -2px 10px #ffffff,
      -2px -2px 10px #ffffff,
       2px  0px 10px #ffffff,
       0px  2px 10px #ffffff,
      -2px  0px 10px #ffffff,
       0px -2px 10px #ffffff;        /* 文字の影 */
}

select {
    border: 3px solid #2fc0c0;
}

select:invalid { color: #bbb; }
select option { color: black; }
select option:first-child { color: #bbb; }

body {
    background-color: #fff5e7;
    color: #082627;
    background-repeat: no-repeat;
    background-position: center;
}

#class-form {
    background-image: url("../picture/hukuiken.png");
}